In [1]:
import pandas as pd
import numpy as np
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
analyzer = SentimentIntensityAnalyzer()
from datetime import date, timedelta

In [2]:
list_ = []
weekly_sentiment = []
compound_sentiment = []
weekly_tweets = []
for x in range(26):
    file = "Data/Born a Crime Data/Born a Crime" + str(x) + ".csv"
    df = pd.read_csv(file, encoding="latin-1", error_bad_lines=False, warn_bad_lines=False, index_col=None, header=0)
    
    df["Tweet Sentiment"] = ""
    df.set_index(" id", inplace=True)
    #df
    
    for index, row in df.iterrows():
        tweet_text = row[" text"]
        compound_sentiment.append(analyzer.polarity_scores(tweet_text)["compound"])
        df.set_value(index, "Tweet Sentiment", (analyzer.polarity_scores(tweet_text)["compound"]))

    compound_sentiment = []   
    list_.append(df)
frame = pd.concat(list_)
frame.head()
frame[' date'] = pd.to_datetime(frame[' date'])

,date,permalink,retweets,text,Tweet Sentiment,erase,erase2,username
id,,,,,,,,
7.860000e+17,10/10/16 15:18,https://twitter.com/malamamusonda2/status/7855...,0,Cant wait to read #Trevor_noah 's book... #BOR...,0,NaN,NaN,malamamusonda2
7.850000e+17,10/10/16 2:39,https://twitter.com/sale_ebook/status/78536904...,0,Born A Crime : Stories from a South African Ch...,0,NaN,NaN,sale_ebook
7.850000e+17,10/10/16 1:44,https://twitter.com/selasekove/status/78535519...,0,Trevor Noah Explains the Title of His New Book...,0,NaN,NaN,selasekove
7.850000e+17,10/8/16 19:48,https://twitter.com/zogita26/status/7849032036...,0,here's short and sweet review of Born a Crime ...,0,NaN,NaN,zogita26
7.850000e+17,10/8/16 14:59,https://twitter.com/PhotographyArt_/status/784...,0,#10: Born a Crime : Stories from a South Afric...,0,NaN,NaN,PhotographyArt_

In [4]:
frame.head()

,date,permalink,retweets,text,Tweet Sentiment,erase,erase2,username
id,,,,,,,,
7.860000e+17,2016-10-10 15:18:00,https://twitter.com/malamamusonda2/status/7855...,0,Cant wait to read #Trevor_noah 's book... #BOR...,0,NaN,NaN,malamamusonda2
7.850000e+17,2016-10-10 02:39:00,https://twitter.com/sale_ebook/status/78536904...,0,Born A Crime : Stories from a South African Ch...,0,NaN,NaN,sale_ebook
7.850000e+17,2016-10-10 01:44:00,https://twitter.com/selasekove/status/78535519...,0,Trevor Noah Explains the Title of His New Book...,0,NaN,NaN,selasekove
7.850000e+17,2016-10-08 19:48:00,https://twitter.com/zogita26/status/7849032036...,0,here's short and sweet review of Born a Crime ...,0,NaN,NaN,zogita26
7.850000e+17,2016-10-08 14:59:00,https://twitter.com/PhotographyArt_/status/784...,0,#10: Born a Crime : Stories from a South Afric...,0,NaN,NaN,PhotographyArt_

In [6]:
dates = "Dates/bac_dates.csv"
bac_dates = pd.read_csv(dates)
bac_dates

   Week Start  Week End
0     10/3/16   10/9/16
1    10/10/16  10/16/16
2    10/17/16  10/23/16
3    10/24/16  10/30/16
4    10/31/16   11/6/16
5     11/7/16  11/13/16
6    11/14/16  11/20/16
7    11/21/16  11/27/16
8    11/28/16   12/4/16
9     12/5/16  12/11/16
10   12/12/16  12/18/16
11   12/19/16  12/25/16
12   12/26/16    1/1/17
13     1/2/17    1/8/17
14     1/9/17   1/15/17
15    1/16/17   1/22/17
16    1/23/17   1/29/17
17    1/30/17    2/5/17
18     2/6/17   2/12/17
19    2/13/17   2/19/17
20    2/20/17   2/26/17
21    2/27/17    3/5/17
22     3/6/17   3/12/17
23    3/13/17   3/19/17
24    3/20/17   3/26/17
25    3/27/17    4/2/17

In [7]:
weekly_sentiment = []
weekly_tweets = []
for index, row in bac_dates.iterrows():
    date = row["Week Start"]
    date2 = row["Week End"]
    mask = (frame[' date'] > str(date)) & (frame[' date'] <= str(date2))
    weekly_tweets.append(len(frame.loc[mask]))
    weekly_sentiment.append(np.mean(frame.loc[mask]["Tweet Sentiment"]))

In [8]:
weekly_sentiment

[-0.32882727272727291,
 -0.44063793103448279,
 -0.10819999999999999,
 -0.15515217391304348,
 -0.40951420118343107,
 -0.41863962264150878,
 0.26227200402820261,
 -0.069477696078431225,
 -0.19166372549019678,
 -0.081273084112149535,
 -0.021482978723404315,
 0.055370925925925796,
 0.057381072026800671,
 -0.024782246376811621,
 0.012614516129032201,
 -0.025566923076923292,
 -0.051675421686747026,
 -0.018837047353760482,
 0.55482473958333589,
 0.047433163265306243,
 0.015342401960784317,
 -0.086531331592689276,
 -0.058900828729281943,
 -0.04856421404682279,
 -0.054936200716845962,
 -0.035230402930402908]

In [9]:
weekly_tweets

[66,
 29,
 27,
 46,
 169,
 159,
 993,
 816,
 918,
 535,
 517,
 540,
 597,
 552,
 496,
 520,
 415,
 359,
 384,
 392,
 408,
 383,
 362,
 299,
 279,
 273]

In [11]:
pos_data = "../CSV/POS Data/born_a_crime_pos_data.csv"
pos = pd.read_csv(pos_data)
sums = pos.sum(axis=0).to_frame()
df2 = sums.iloc[1:]
df2[0]

Week End( 10/09/16 )        2
Week End( 10/16/16 )        1
Week End( 10/23/16 )        3
Week End( 10/30/16 )        1
Week End( 11/06/16 )        6
Week End( 11/13/16 )      862
Week End( 11/20/16 )    13615
Week End( 11/27/16 )    12266
Week End( 12/04/16 )    12640
Week End( 12/11/16 )    20437
Week End( 12/18/16 )    24578
Week End( 12/25/16 )    32679
Week End( 01/01/17 )     7362
Week End( 01/08/17 )     5334
Week End( 01/15/17 )     4616
Week End( 01/22/17 )     4689
Week End( 01/29/17 )     4269
Week End( 02/05/17 )     3948
Week End( 02/12/17 )     3610
Week End( 02/19/17 )     5300
Week End( 02/26/17 )     5957
Week End( 03/05/17 )     3979
Week End( 03/12/17 )     4186
Week End( 03/19/17 )     3530
Week End( 03/26/17 )     3378
Week End( 04/02/17 )     4194
Name: 0, dtype: object

In [12]:
BornaCrime = pd.DataFrame({"Weekly Sentiment": weekly_sentiment, "Weekly Tweets": weekly_tweets, "Weekly Sales": df2[0]})

In [13]:
BornaCrime

                     Weekly Sales  Weekly Sentiment  Weekly Tweets
Week End( 10/09/16 )            2         -0.328827             66
Week End( 10/16/16 )            1         -0.440638             29
Week End( 10/23/16 )            3         -0.108200             27
Week End( 10/30/16 )            1         -0.155152             46
Week End( 11/06/16 )            6         -0.409514            169
Week End( 11/13/16 )          862         -0.418640            159
Week End( 11/20/16 )        13615          0.262272            993
Week End( 11/27/16 )        12266         -0.069478            816
Week End( 12/04/16 )        12640         -0.191664            918
Week End( 12/11/16 )        20437         -0.081273            535
Week End( 12/18/16 )        24578         -0.021483            517
Week End( 12/25/16 )        32679          0.055371            540
Week End( 01/01/17 )         7362          0.057381            597
Week End( 01/08/17 )         5334         -0.024782            552
Week End( 01/15/17 )         4616          0.012615            496
Week End( 01/22/17 )         4689         -0.025567            520
Week End( 01/29/17 )         4269         -0.051675            415
Week End( 02/05/17 )         3948         -0.018837            359
Week End( 02/12/17 )         3610          0.554825            384
Week End( 02/19/17 )         5300          0.047433            392
Week End( 02/26/17 )         5957          0.015342            408
Week End( 03/05/17 )         3979         -0.086531            383
Week End( 03/12/17 )         4186         -0.058901            362
Week End( 03/19/17 )         3530         -0.048564            299
Week End( 03/26/17 )         3378         -0.054936            279
Week End( 04/02/17 )         4194         -0.035230            273